@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');

:root{
    background-color: #FFFFFF;
    --clr-dark-green: #4F6B4F;
    --clr-black: #3E3E3E;
    --clr-white-green: #EAF1F0;
    --clr-light-grey: #9DA19D;
    --clr-light-green: #EAF1F0;

    --ff-primary: 'Red Hat Text', sans-serif;
    --ff-secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --ff-headings: 'Red Hat Display', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.disabled {
    color: maroon !important;
}

body{
    font-family: var(--ff-primary);
    font-weight: 400;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--clr-dark-green);
    outline: none;
    border: none;
    color: var(--clr-white-green);
    text-transform: uppercase;
    font-family: var(--ff-headings);
    font-weight: 700;
    padding: 0.5rem 1rem;
}

.btn {
    background-color: var(--clr-dark-green);
    outline: none;
    border: none;
    color: var(--clr-white-green);
    text-transform: uppercase;
    font-family: var(--ff-headings);
    font-weight: 700;
    padding: 0.5rem 1rem;
}

h1, h2, h3, h4, h5 {
    font-family: var(--ff-headings);
}
h5{
    color: var(--clr-dark-green);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
}

a {
    text-transform: none;
    outline: none;
    color: var(--clr-white-green);
    font-family: var(--ff-primary);
    text-decoration: none;
}

.icon-btn {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--clr-dark-green);
}
  
header {
    width: 100vw;
    height: 282px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white-green);
    background-image: url("../public/assets/img/hero-img_medium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 1px;
}

/* NAVBAR ---------------  */

nav {
    position: relative;
    width: 100%;
    padding: 0 1rem;
    height: 58px;
    background-color: var(--clr-dark-green);
    color: var(--clr-white-green);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
    font-family: var(--ff-headings);
    color: var(--clr-white-green);
}
.nav-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.nav-section a {
    display: flex;
    justify-content: center;
}

.nav-section:nth-child(2){
    margin-right: 1.4rem;
    font-size: 1.8rem;
}

.logo-link {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
}

nav a {
    text-transform: uppercase;
    font-weight: 500;
}

/* PRODUCT LIST ---------------- */
.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
}
.search-container svg {
    color: var(--clr-dark-green);
    font-size: 1.2rem;
}
.search-container input {
    margin-left: 0.5rem;
    border: none;
    font-family: var(--ff-primary);
    font-weight: 500;
    color: var(--clr-black);
    outline:none;
    background-color: var(--clr-white-green);
    padding: 0.3rem 0.7rem;
    border-radius: 99rem;
}

.search-container input::placeholder{
    color: #a6b9b7;
    font-size: 0.7rem;
}
/* PRODUCT CARD --------------- */

.product-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    overflow: hidden;
}
.card-info {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    'card-title card-addBtn'
    'card-desc card-addBtn'
    'card-price card-addBtn'
    ;
    margin: 0.6rem 0.2rem;
}
.card-img {
    grid-area: card-img;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
    
.card-img img {
    width: auto;
    height: 350px;
    
}
.product-card h4 {
    text-transform: uppercase;
    grid-area: card-title;
    margin:  0;
    font-size: 1.2rem;
}
.short-desc {
    grid-area: card-desc;
    color: var(--clr-light-grey);
    font-weight: 400;
    text-transform: lowercase;
    letter-spacing: -0.01rem;
}
.price {
    grid-area: card-price;
    font-weight: 500;
}

.add-to-cart-btn {
    grid-area: card-addBtn;
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 1.6rem;
    padding: 1rem;
}

/* PRODUCT-ITEM PAGE -------------- */
.product-item-container {
    width: 600px;
    display: flex;
    overflow: hidden;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.product-info {
    display: grid;
    grid-template-columns: auto 5fr 5fr auto;
    grid-template-areas: 
    '. prod-title prod-price .'
    '. prod-desc prod-stock .'
    '. prod-desc cart .'
    '. prod-desc cart .'
    ;
    margin: 0.5rem 0 1rem 0;
}
.product-img {
    width: auto;
    height: 400px;
    grid-area: img;
}
.product-title{
    grid-area: prod-title;
    margin: 0;
    text-transform: uppercase;
}
.product-desc{
    grid-area: prod-desc;
    text-align: left;
    word-wrap: break-word;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--clr-light-grey);
}
.product-price{
    grid-area: prod-price;
    font-weight: 500;
    justify-self: end;
}
.product-stock{
    grid-area: prod-stock;
    font-size: 0.7rem;
    font-weight: 500;
    justify-self: end;
    color: var(--clr-light-grey);

}
.product-info button {
    grid-area: cart;
    justify-self: end;
    margin: 0.5rem 0;
}


/* CART-SMALL -------------------_ */
.cart-small-container {
    background-color: var(--clr-white-green);
    color: var(--clr-black);
    position: absolute;
    right: 20px;
    top: 58px;
    padding: 1rem;
}
.cart-small-header {
    text-align: center;
    font-size: 2rem;
    color: var(--clr-dark-green);
}
.cart-small-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.cart-small-total{
    align-self: end;
    margin-bottom: 1rem;
}
.cart-small-products {
    list-style: none;
    padding: 0 1rem;
}
.cart-small-products li {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.3rem;
}
.cart-small-title {margin-right:auto;}
.cart-small-thumb {
    width: auto;
    height: 2.5rem;
}
.cart-small-thumb-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: auto;
    overflow: hidden;
}

/* CART -------------------_ */
.cart-container {
    background-color: var(--clr-white-green);
    color: var(--clr-black);
    padding: 1rem;
}
.cart-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--clr-dark-green);
}
.cart-header h2 {
    text-transform: uppercase;
}
.cart-header svg {
    font-size: 2rem;
}
.cart-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.cart-total{
    align-self: end;
    margin-bottom: 1rem;
}
.cart-products {
    list-style: none;
    padding: 0 1rem;
}
.cart-products li {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'cart-img cart-title cart-price cart-qty cart-edt-qty cart-delete'
    'cart-img cart-desc cart-price cart-stock cart-edt-qty cart-delete'
    ;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 0.3rem;
}
.cart-products svg {
    font-size: 1.3rem;
}

.cart-thumb-container{
    grid-area: cart-img;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: auto;
    overflow: hidden;
}

.cart-thumb {
    width: auto;
    height: 5rem;
}
.cart-title {
    margin-right:auto;
    grid-area: cart-title;
    text-transform: uppercase;
    font-weight: 600;
    align-self: flex-end;
}
.cart-desc {
    align-self: flex-start;
    grid-area: cart-desc;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--clr-light-grey);
}
.cart-price {
    grid-area: cart-price;
    font-weight: 700;
}
.cart-qty {
    grid-area: cart-qty;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--clr-black);
    align-self: flex-end;
}
.cart-stock {
    align-self: flex-start;
    grid-area: cart-stock;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--clr-light-grey);
}
.cart-edt-qty {grid-area: cart-edt-qty;}
.cart-delete {grid-area: cart-delete;}

/* -----------USER PAGE------------*/
.account-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
    
}
.account-label{
    display: flex;
    justify-self: end;
    align-self: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--clr-dark-green);
    margin-right: 0.7rem;
}
.account-info{
    display: flex;
    justify-self: start;
    align-self: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--clr-black);
}

/* -----------LOGIN PAGE------------*/
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light-green);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem 0;
}

.login-form input {
    border: 2px solid var(--clr-dark-green);
    font-family: var(--ff-primary);
    border-radius: 99rem;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}
.login-fail{
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(88, 37, 37);
}
.login-fail-small{
    font-weight: 500;
    color: rgb(88, 37, 37);
    font-size: 0.6rem;
}



/*-----------ADMIN SECTION-------------*/
.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-container button {
    margin: 0 0 1rem 0;
}



/* -----------CREATE PRODUCT FORM------------*/
.create-product-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0.4rem;
    column-gap: 0.5rem;
    align-content: center;
    justify-items: center;
    width: fit-content;
}

.create-product-form label {
    display: flex;
    justify-self: end;
    align-self: center;
    font-size: 0.7rem;
    color: var(--clr-dark-green);
}

.create-product-form input {
    display: flex;
    justify-self: start;
    align-self: center;
    grid-column: 2 / span 2;
    border: 2px solid var(--clr-dark-green);
    border-radius: 99rem;
    font-family: var(--ff-primary);
    font-weight: 500;
    color: var(--clr-black);
    font-size: 0.7rem;
    padding: 0.2rem;
    width: 10rem;
}
.create-product-form textarea {
    display: flex;
    justify-self: start;
    grid-column: 2 / span 2;
    border: 2px solid var(--clr-dark-green);
    font-family: var(--ff-primary);
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: 500;
    color: var(--clr-black);
    padding: 0.2rem;
    width: 10rem;
    max-width: 10rem;
}

.create-product-form button{
    grid-column: 1 / 4 ;
}


footer{
    margin: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: var(--clr-dark-green);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

footer span:nth-child(3) {
    font-weight: 500;
    font-size: 0.8rem;
}

footer img{
    width: 1.6rem;
    margin: 0.3rem 0;
}